/**
 *
 * General Styles for 404 Error Page
 *
 */

#orange-commercial-404 {
	// border: 1rem dotted red;
	margin-top: 5rem;
	padding-top: 15rem;
	padding-bottom: 15rem;
	max-width: 60%;
	margin: auto;

	@media (max-width: 1366px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	@media (max-width: 640px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
		max-width: 80%;
	}

	h1 {

		a {
			font-size: 8rem;
			color: #0F75A2;
			font-weight: 700;
			font-family: Poppins !important;
		}
	}

	h3 {

		color: #1F487E;
		font-size: 28px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 30px;
	}

	p {
		font-size: 1.2rem;
		// line-height: 2rem;
		color: #000000;
		margin-bottom: 30px;
	}

	.btn {

		border-radius: 200px;
		border-color: $cg-button;
		padding: 18px 15px;
		height: 60px;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 12px -9px;
		background-color: $cg-button !important;
		line-height: 1.2em;
		font-size: 18px;
		min-width: 200px;
		text-align: center;
		margin: auto;
		text-transform: uppercase;
		text-indent: 0rem;
	}
}
